* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.box-data {
  height: 100px;
  margin-top: 30px;
  margin-left: 40px;
  margin-right: 40;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 90px;
}
.box-data input {
  padding-left: 5px;
  height: 30px;
  width: 300px;
  font-weight: 900px;
  background-color: plum;
}
.box-data button {
  height: 40px;
  width: 150px;
  background-color: pink;
  font-weight: 500;
  font-size: 1.5rem;
  outline: none;
}
.information {
  margin-left: 20px;
  margin-right: 33px;
  padding-left: 40px;
  margin-top: 20px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
 font-size: 2.1rem;
  color: black;
}

.information li {
  list-style: none;
}
button{
    background-color: plum;
}