*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    padding-top: 30px;
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
}
.container input{
    padding: 3px;
    width: 250px;
    background-color: lightseagreen;
    border-radius: 5px;
}
 button{
    width: 100px;
    background-color:rgb(208, 201, 169);
    border-radius: 5px;
    cursor: pointer;
}
#list{
  margin-top: 40px;
  font-size: 1rem;
  justify-content: space-between;
  color: gray;
}
#list span{
    padding: 80px;
    margin-top: 40px;
}
